@model IEnumerable<SimpleWebMVC.Models.Division>
@{
    Layout = null;
}
@{ 
    ViewBag.Title = "Index";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h2>INDEX</h2>
    <table>
        <tr>
            <th>Id</th>
            <th>Division Name</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DivisionName)
                </td>

                @*<td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.ID })  |
                    @Html.ActionLink("Delete", "Delete", new { id = item.ID })
                </td>*@
            </tr>
        }

    </table>



    <p>
        @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
            @Html.ActionLink("Back to List", "Index")*@
    </p>




</body>
</html>